.card {
  width: calc(100% - 20);
  margin: 10px 20px;
  border: 1px solid #cecece;
  box-shadow: 0 1 2px -2px grey;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 1px solid #cecece;
}

.productContainer {
  width: 200px;
  padding: 10px 15px;
}

.productContainer .productImgContainer {
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.productContainer .productImgContainer img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.productInfo {
  text-align: center;
  font-size: 12px;
}

.productPrice {
  font-size: 14px;
  font-weight: 600;
}
